<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lonejourneyman.buoydownnofragment">

    <!-- Weather snapshots depend on this permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Activity recognition requires its own permission -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value=""/>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <provider
            android:name="com.example.lonejourneyman.buoydownnofragment.data.BuoysContentProvider"
            android:authorities="com.example.lonejourneyman.buoydownnofragment"
            android:exported="false" />

        <service android:name=".BuoyDownMessagingService"></service>

        <receiver android:name=".MessageReadReceiver">
            <intent-filter>
                <action android:name="com.example.lonejourneyman.buoydownnofragment.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.example.lonejourneyman.buoydownnofragment.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>